@font-face {
  font-family: "Noto Serif", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
}
@font-face {
  font-family: "Platypi", serif;
  src: url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
}
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

/* Navigation bar style */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a2d2ff;
  transition: all 0.4s ease;
  box-sizing: border-box;
  padding: 5px 150px;
}

.logo img {
  height: auto;
  width: 160px;
  max-width: 100%;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 18px;
  font-family: "Noto Serif", serif;
  text-decoration: none;
  color: #003049;
  font-weight: 600;
  padding: 10px 22px;
  transition: all 0.4s ease;
  box-sizing: border-box;
}

.navbar a:visited {
  color: #003049;
}

.navbar a:hover {
  color: #b56576;
}

.navbar li {
  list-style-type: none;
}

#menu-icon {
  font-size: 34px;
  z-index: 10001;
  cursor: pointer;
  margin-right: 200px;
  display: none;
}

.bx-menu {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Categories */

.categories {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0 50px 0;
  padding: 0 300px;
  background-color: #003d5b;
  gap: 70px;
}

.btn {
  text-decoration: none;
  color: #d1d9e6;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  font-family: "Platypi", serif;
  line-height: 1.5;
  padding: 10px 10px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 6px 6px 12px #002436, -6px -6px 12px #004d74 !important;
  transition: all 0.3s ease;
}

/* Courses */
.courses {
  margin: 70px 150px;
}
.courses-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.programming,
.security,
.design,
.marketing {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.course {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.course:hover {
  transform: scale(1.03);
}

.course-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.course-title h2 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Platypi", serif;
  margin: 0;
}

.course-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.course-img {
  width: 400px;
  height: auto;
}

.course-image img {
  border-radius: 10px;
}

.course-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: "Noto Serif", serif;
  line-height: 1.5;
}

.course-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 30px;
}

.cyber,
.seo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.course-curriculum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.course-curriculum h4 {
  font-size: 22px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.course-curriculum ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: circle;
}

.course-curriculum ul li {
  font-size: 20px;
  font-family: "Noto Serif", serif;
}

.course-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.course-duration,
.course-sessions,
.course-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-family: "Noto Serif", serif;
  margin: 0;
}

.register {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 30px;
  background: #31344b;
  box-shadow: -5px 5px 10px rgba(255, 255, 255, 0.2),
    5px -5px 10px rgba(255, 255, 255, 0.2), -5px -5px 5px #f7f7f7,
    5px 5px 13px #8d8f9c;
  transition: all 0.3s ease;
  border-color: #d1d9e6;
  margin-top: 50px;
  color: #e6e7ee;
}

.register:hover {
  color: #44476a;
  background-color: #e6e7ee;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
}

/* Events Caledar  */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.event-calendar {
  overflow: hidden;
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight",
    "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 30px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calendar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 420px;
  margin: 0 auto;
  height: 570px;
  overflow: hidden;
}

.header {
  height: 50px;
  width: 420px;
  background: #caf0f8;
  text-align: center;
  position: relative;
  z-index: 100;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 50px;
  font-weight: 500;
  font-family: "Noto Serif", serif;
  letter-spacing: 1px;
  color: #0096c7;
}

.left,
.right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  top: 50%;
  margin-top: -7.5px;
  cursor: pointer;
}

.left {
  border-width: 7.5px 10px 7.5px 0;
  border-color: transparent #0096c7 transparent transparent;
  left: 20px;
}

.right {
  border-width: 7.5px 0 7.5px 10px;
  border-color: transparent transparent transparent #0096c7;
  right: 20px;
}

.month {
  opacity: 0;
}

.month.new {
  -webkit-animation: fadeIn 1s ease-out;
  opacity: 1;
}

.month.in.next {
  -webkit-animation: moveFromTopFadeMonth 0.4s ease-out;
  -moz-animation: moveFromTopFadeMonth 0.4s ease-out;
  animation: moveFromTopFadeMonth 0.4s ease-out;
  opacity: 1;
}

.month.out.next {
  -webkit-animation: moveToTopFadeMonth 0.4s ease-in;
  -moz-animation: moveToTopFadeMonth 0.4s ease-in;
  animation: moveToTopFadeMonth 0.4s ease-in;
  opacity: 1;
}

.month.in.prev {
  -webkit-animation: moveFromBottomFadeMonth 0.4s ease-out;
  -moz-animation: moveFromBottomFadeMonth 0.4s ease-out;
  animation: moveFromBottomFadeMonth 0.4s ease-out;
  opacity: 1;
}

.month.out.prev {
  -webkit-animation: moveToBottomFadeMonth 0.4s ease-in;
  -moz-animation: moveToBottomFadeMonth 0.4s ease-in;
  animation: moveToBottomFadeMonth 0.4s ease-in;
  opacity: 1;
}

.week {
  background: #caf0f8;
}

.day {
  display: inline-block;
  width: 60px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background: #caf0f8;
  color: #0077b6;
  position: relative;
  z-index: 100;
}

.day.other {
  color: #0077b6;
}

.day.today {
  color: #e63946;
}

.day-name {
  font-size: 9px;
  font-family: "Noto Serif", serif;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #003554;
  letter-spacing: 0.7px;
}

.day-number {
  font-size: 24px;
  font-family: "Noto Serif", serif;
  letter-spacing: 1.5px;
  color: #004e98;
}

.day .day-events {
  list-style: none;
  margin-top: 3px;
  text-align: center;
  height: 12px;
  line-height: 6px;
  overflow: hidden;
}

.day .day-events span {
  vertical-align: top;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 5px;
  height: 5px;
  line-height: 5px;
  margin: 0 1px;
}

.blue {
  background: rgba(156, 202, 235, 1);
}
.orange {
  background: rgba(247, 167, 0, 1);
}
.green {
  background: rgba(153, 198, 109, 1);
}
.yellow {
  background: rgba(249, 233, 0, 1);
}

.details {
  position: relative;
  width: 420px;
  height: 75px;
  background: #59a5d8;
  margin-top: 5px;
  border-radius: 4px;
  color: white;
}

.details.in {
  -webkit-animation: moveFromTopFade 0.5s ease both;
  -moz-animation: moveFromTopFade 0.5s ease both;
  animation: moveFromTopFade 0.5s ease both;
}

.details.out {
  -webkit-animation: moveToTopFade 0.5s ease both;
  -moz-animation: moveToTopFade 0.5s ease both;
  animation: moveToTopFade 0.5s ease both;
}

.arrow {
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -2px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #59a5d8 transparent;
  transition: all 0.7s ease;
}

.events {
  height: 75px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.events.in {
  -webkit-animation: fadeIn 0.3s ease both;
  -moz-animation: fadeIn 0.3s ease both;
  animation: fadeIn 0.3s ease both;
  background-color: #59a5d8;
}

.events.in {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.details.out .events {
  -webkit-animation: fadeOutShrink 0.4s ease both;
  -moz-animation: fadeOutShink 0.4s ease both;
  animation: fadeOutShink 0.4s ease both;
}

.events.out {
  -webkit-animation: fadeOut 0.3s ease both;
  -moz-animation: fadeOut 0.3s ease both;
  animation: fadeOut 0.3s ease both;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  padding: 2px 16px;
  vertical-align: top;
}

.event.empty {
  color: #eee;
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 0 0;
  vertical-align: top;
}

.event span {
  display: inline-block;
  padding: 0 0 0 7px;
}

.legend {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: #ade8f4;
  color: #004e98;
  line-height: 30px;
}

.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
}

.entry:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  top: 12px;
  left: 14px;
}

.entry.blue:after {
  background: rgba(156, 202, 235, 1);
}
.entry.orange:after {
  background: rgba(247, 167, 0, 1);
}
.entry.green:after {
  background: rgba(153, 198, 109, 1);
}
.entry.yellow:after {
  background: rgba(249, 233, 0, 1);
}

/* Animations are cool!  */
@-webkit-keyframes moveFromTopFade {
  from {
    opacity: 0.3;
    height: 0px;
    margin-top: 0px;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveFromTopFade {
  from {
    height: 0px;
    margin-top: 0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFade {
  to {
    opacity: 0.3;
    height: 0px;
    margin-top: 0px;
    opacity: 0.3;
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes moveToTopFade {
  to {
    height: 0px;
    -moz-transform: translateY(-100%);
  }
}
@keyframes moveToTopFade {
  to {
    height: 0px;
    transform: translateY(-100%);
  }
}

@-webkit-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}
@-moz-keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}
@keyframes moveToTopFadeMonth {
  to {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}

@-webkit-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}
@-moz-keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}
@keyframes moveFromTopFadeMonth {
  from {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}

@-webkit-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%) scale(0.95);
  }
}
@-moz-keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}
@keyframes moveToBottomFadeMonth {
  to {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
}

@-webkit-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%) scale(0.95);
  }
}
@-moz-keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}
@keyframes moveFromBottomFadeMonth {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30%);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
@-moz-keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}
@keyframes fadeOutShink {
  to {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}

/* Footer */
.footer {
  box-sizing: border-box;
  padding: 0 150px;
  background-color: #efefef;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  box-sizing: border-box;
  padding: 50px 0px 10px 0px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info span {
  font-size: 20px;
  font-weight: 600;
}

.info p {
  margin: 0;
  font-size: 18px;
  color: #888a8e;
}

.info img {
  width: 120px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: #888a8e;
  font-size: 24px;
}

.nav-menu-title,
.connect {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.social-media-icons a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.social-media-icon:hover {
  opacity: 0.7;
}

.social-media-icon {
  background: #777;
  color: white;
}

.rights {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.rights p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
