@media screen and (max-width: 1300px) {
  header {
    transition: 0.2s;
  }

  .course {
    gap: 100px;
  }

  .categories {
    padding: 0 200px;
  }

  .btn {
    font-size: 18px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 0 130px;
  }

  .courses {
    margin: 70px 130px;
  }

  .course-desc {
    font-size: 20px;
  }
}

@media screen and (max-width: 1080px) {
  .categories {
    padding: 0 150px;
  }

  .course {
    gap: 70px;
  }
}

@media screen and (max-width: 992px) {
  header {
    padding: 5px 50px 5px 100px;
  }

  .categories {
    padding: 0 100px;
  }

  .courses {
    margin: 70px 100px;
    display: flex;
    justify-content: center;
  }

  .course {
    grid-template-columns: 1.2fr 1fr;
  }

  .ui,
  .security,
  .dig-marketing,
  .seo {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .course-desc {
    font-size: 18px;
  }

  .footer-content {
    padding: 50px 0 30px 0;
  }

  .footer {
    padding: 0 100px;
  }
}

@media screen and (max-width: 870px) {
  header {
    padding: 5px 50px 5px 100px;
  }

  .navbar {
    margin: 0;
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 170px 30px;
    transition: all 0.4s ease;
    background-color: #e2eafc;
  }

  .navbar a {
    display: block;
    margin: 15px 0;
    color: #6ca5e2;
    font-size: 20px;
  }

  .navbar a:visited {
    color: #6ca5e2;
  }

  .navbar a:hover {
    color: #2d83de;
    transform: translateY(15px);
  }

  .navbar a:hover {
    color: #6ca5e2;
  }

  .navbar.open {
    right: 0;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu-icon {
    display: block;
    margin: 0;
  }

  .categories {
    flex-wrap: wrap;
    gap: 0px;
    padding: 10px 100px;
    column-gap: 30px;
  }

  .course-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .course {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .nav-menu {
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .nav-menu {
    align-items: flex-start;
  }

  .info {
    margin: 0;
  }
}

@media only screen and (max-width: 650px) {
  header {
    padding: 5px 30px 5px 70px;
  }

  .categories {
    height: auto;
    column-gap: 10px;
    padding: 10px 70px;
  }

  .courses {
    margin: 70px 70px;
  }

  .course {
    max-width: 500px;
  }

  .course-image img {
    width: 300px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;
  }

  .info {
    margin: 0;
  }

  .footer {
    padding: 0 70px;
  }
}

@media screen and (max-width: 576px) {
  .nav-menu a,
  .info p,
  .rights p {
    font-size: 16px;
  }

  .course {
    max-width: 420px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 5px 30px 5px 30px;
  }

  .navbar {
    width: 200px;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
  }

  .courses {
    margin: 70px 30px;
  }

  .course {
    max-width: 340px;
  }
}
