@font-face {
  font-family: "Platypi", serif;
  src: url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
}
@font-face {
  font-family: "Lugrasimo", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
}
@font-face {
  font-family: "Noto Serif", serif;
  src: url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

/* Navigation bar style */
header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transition: all 0.4s ease;
  box-sizing: border-box;
  padding: 5px 150px;
}

.logo img {
  height: auto;
  width: 160px;
  max-width: 100%;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 20px;
  font-family: "Noto Serif", serif;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 10px 22px;
  transition: all 0.4s ease;
  box-sizing: border-box;
}

.navbar a:visited {
  color: black;
}

.navbar a:hover {
  color: #00b4d8;
}

.navbar li {
  list-style-type: none;
}

#menu-icon {
  font-size: 34px;
  z-index: 10001;
  cursor: pointer;
  margin-right: 200px;
  display: none;
}

.bx-menu {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main page style */
.main-page {
  background-image: url("./Assets/Images/main-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.main-page::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.main-page-description {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  left: 100px;
  top: 28%;
  color: white;
}

.main-page-description h1 {
  font-size: 80px;
  margin-bottom: 5px;
  text-transform: uppercase;
  line-height: 1.8;
  font-family: "Lugrasimo", cursive;
}

.main-page-description h4 {
  font-size: 30px;
  margin-top: 5px;
  text-transform: uppercase;
  font-family: "Platypi", serif;
}

/* About us style */
.about-us {
  display: flex;
  flex-direction: column;
}

.about-container {
  margin: 70px 150px;
  display: flex;
  gap: 50px;
}

.about-us-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-us-title h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}
.about-us-description p {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Noto Serif", serif;
}

.about-us-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-image img {
  width: 100%;
}

/* Expertise */
.expertise {
  margin: 70px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.expertise-cards {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expertise-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: all 0.4s ease;
}

.expertise-card:hover {
  transform: translateY(-15px);
}

.expertise-card-image img {
  height: 50px;
}

.expertise-card-title {
  font-size: 32px;
  font-weight: 600;
}

.expertise-card-content {
  font-size: 24px;
  font-weight: 500;
  font-family: "Noto Serif", serif;
}

.widget {
  margin: 0 auto;
  margin-top: 20px;
}

.header {
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Noto Serif", serif;
}

.chart-container {
  padding: 25px;
}

.shadow {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

/* What we offer */
.what-we-offer {
  padding: 70px 150px;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.offer-title h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.offer-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}

.offer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ced4da;
}

.offer-card-image img {
  height: 60px;
}

.offer-card-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.offer-card-content {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Noto Serif", serif;
}

.offer-cards:nth-child(1) {
  flex-grow: 1.7;
}

/* Categories */
.popular-categories {
  padding: 70px 150px;
}

.popular-categories h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.popular-categories h5:hover {
  color: #00b4d8;
}

.popular-categories h2 {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
}

.popular-categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 24px;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
}

.popular-categories-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e9ecef;
  border-radius: 20px;
  box-shadow: -12px -12px 32px rgb(255, 255, 255 / 15%);
  transition: all 0.4s ease;
  padding: 25px 40px;
}

.popular-categories-card:hover {
  transform: translateY(-15px);
}

.popular-categories-card img {
  width: 110px;
  height: auto;
}

.popular-categories-card h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.3;
  transition: all 0.4s ease;
}

.popular-categories h3:hover {
  color: #00b4d8;
}

.popular-categories-card p {
  font-size: 18px;
  margin: 10px 0;
  font-family: "Noto Serif", serif;
}

/* Courses */
.courses {
  padding: 50px 0;
  background: rgb(249, 199, 247);
  background: linear-gradient(
    90deg,
    rgba(249, 199, 247, 1) 0%,
    rgba(247, 234, 247, 1) 35%,
    rgba(209, 237, 242, 1) 100%
  );
}

.course-container {
  margin: 70px 150px;
}

.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 30px;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 15px;
}

.courses-container-titles h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.courses-container-titles h5:hover {
  color: #00b4d8;
}

.courses-container-titles h2 {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
}

.course {
  padding: 0 0 10px 0;
  border-radius: 20px;
  box-shadow: 0px 5px 40px rgb(19, 8, 73 /13%);
  transition: all 0.4s ease;
  background-color: #fff;
}

.course:hover {
  transform: translateY(-15px);
}

.course img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.course-description {
  padding: 20px;
  font-family: "Noto Serif", serif;
}

.course-description h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all 0.4s ease;
  text-align: center;
  font-family: "Noto Serif", serif;
}

.course-description h2:hover {
  color: #e76f51;
}

.course-description p {
  font-size: 20px;
  font-weight: 400;
}

.duration {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.duration p {
  font-size: 18px;
  color: #696969;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 0 30px 0;
  font-family: "Noto Serif", serif;
}

.course-btn {
  text-align: center;
  margin-top: 30px;
}

.course-btn a {
  display: inline-block;
  padding: 16px 30px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 30px;
  transition: all 0.4s ease;
  color: #fff;
  background-color: #2ec4b6;
  font-family: "Noto Serif", serif;
}

.course-btn a:hover {
  transform: scale(0.9) translateY(-5px);
}

/* Admissions */
.admission {
  margin: 50px 150px 70px 150px;
}

.admission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  max-width: 90%;
  padding: 30px;
  transition: all 0.4s;
  border-radius: 4px;
}

.admission-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.admission-title h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color: #274c77;
  text-align: center;
  margin: 20px 0;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-item .input {
  width: 90%;
  height: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  padding: 10px 20px;
  transition: 0.5s ease;
  padding-left: 50px;
  font-size: 16px;
  font-family: "Noto Serif", serif;
}

.input-item .input:focus {
  border-color: #3e2093;
}

.input-label {
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Serif", serif;
}

.gender .gender-title {
  font-size: 18px;
  font-weight: 600;
  font-family: "Noto Serif", serif;

  margin: 0;
}

.input .knowledge-title {
  font-size: 18px;
  font-family: "Noto Serif", serif;

  font-weight: 600;
  margin: 0;
}

#icon-user,
#icon-envelope,
#icon-phone,
#icon-key,
#icon-conf-key {
  position: absolute;
  margin-left: 20px;
  margin-top: 13px;
}

.gender .input-item label {
  font-size: 18px;
  font-family: "Noto Serif", serif;
}

.gender .input-item label input[type="radio"] {
  width: 15px;
  height: 15px;
}

.gender .input-item {
  display: flex;
  gap: 20px;
}

.input .input-item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  color: black;
  padding: 12px 20px;
  transition: 0.5s ease;
  font-size: 16px;
  font-family: "Noto Serif", serif;
}

.input .coding {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.input .coding label {
  font-size: 18px;
  font-family: "Noto Serif", serif;
}

.input .coding input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.buttons .register {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Noto Serif", serif;

  font-weight: 600;
  background-color: #457b9d;
  color: white;
  border: 2px solid white;
}

.buttons .register:hover {
  cursor: pointer;
  background-color: #0f6499;
}

.buttons .clear {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  background-color: #f396a4;
  color: white;
  border: 2px solid white;
}

.buttons .clear:hover {
  cursor: pointer;
  background-color: #f15f75;
}

.input .input-item span,
.input span {
  font-size: 14px;
  color: red;
}

.registered-message {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #c7f9cc;
  box-sizing: border-box;
  padding: 30px;
  width: auto;
  height: auto;
}

.registered-message p {
  width: auto;
  height: auto;
  font-size: 26px;
  font-family: "Noto Serif", serif;

  font-weight: 500;
  margin: 0;
}

/* Instructors */
.instructors {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 150px;
}

.instructors-title {
  font-size: 48px;
  font-weight: 600;
  font-family: "Noto Serif", serif;
  text-align: center;
}

.instructors-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #00a6fb;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00a6fb;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.team-content .name {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-team .title {
  display: block;
  font-size: 18px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #00a6fb;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #00a6fb;
  background-color: #f7f5ec;
}

/* Join Us */
.join {
  background-image: linear-gradient(
    to right bottom,
    #a6e2f4,
    #b2dffb,
    #c2dcfd,
    #d2d9fb,
    #e0d6f5,
    #dfd7f8,
    #ded9fc,
    #dcdaff,
    #c0e2ff,
    #98ecff,
    #6ef5ff,
    #5ffbf1
  );
}

.join-us-container {
  padding: 70px 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
}

.join-img img {
  width: 100%;
  height: auto;
}

.join-content h2 {
  line-height: 1.2;
  margin-bottom: 20px;
}

.join-content p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Noto Serif", serif;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.join-content h4 {
  font-size: 20px;
  font-family: "Noto Serif", serif;

  margin: 0 0 10px 0;
}

.join-content h5 {
  font-size: 20px;
  font-family: "Noto Serif", serif;
  margin: 0 0 40px 0;
}

.join-btn {
  margin-top: 30px;
}

.join-btn a {
  display: inline-block;
  padding: 16px 30px;
  text-decoration: none;
  font-weight: 700;
  font-family: "Noto Serif", serif;
  border-radius: 30px;
  transition: all 0.4s ease;
  color: #fff;
  background-color: #2ec4b6;
}

.join-btn a:hover {
  transform: scale(0.9) translateY(-5px);
}

/* Trusted By */
.trusted {
  margin: 70px 150px;
}
.trusted-container-titles h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.trusted-container-titles h5:hover {
  color: #00b4d8;
}

.trusted-container-titles h2 {
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
}

.trusted-companies {
  display: flex;
  align-items: center;
  gap: 20px;
}

.trusted-companies img {
  height: 70px;
  width: auto;
  transition: all 0.4 ease;
  margin: 0 30px;
}

.trusted-companies img:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 70px 150px;
}

.testimonials-title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

figure.review-card {
  font-family: "Raleway", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}

figure.review-card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

figure.review-card img {
  max-width: 100%;
  vertical-align: middle;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 40px 0 0 10px;
}

figure.review-card blockquote {
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #d0f4de;
  padding: 25px 50px 30px 50px;
  font-size: 0.9em;
  font-weight: 500;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}

figure.review-card blockquote:before,
figure.review-card blockquote:after {
  font-family: "FontAwesome";
  content: "\201C";
  position: absolute;
  font-size: 30px;
  opacity: 0.3;
  font-style: normal;
}

figure.review-card blockquote:before {
  top: 25px;
  left: 20px;
}

figure.review-card blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.review-card .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #d0f4de;
  margin: 0;
  position: absolute;
}

figure.review-card .author {
  position: absolute;
  bottom: 45px;
  padding: 0 10px 0 120px;
  margin: 0;
  text-transform: uppercase;
  color: #0081a7;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

figure.review-card .author h5 {
  font-size: 15px;
  font-family: "Noto Serif", serif;

  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.review-card .author h5 span {
  font-weight: 400;
  font-family: "Noto Serif", serif;

  text-transform: none;
  padding-left: 5px;
}

/* Gallery */
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 70px 150px;
}

.gallery-title h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.gallery-column img {
  width: 100%;
  opacity: 0.6;
  border-radius: 10px;
}

.gallery-column img:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s all ease-in-out;
}

/* Contact */
.contact {
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-title h2 {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.contact-details {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-size: 18px;
  font-family: "Noto Serif", serif;

  margin-bottom: 8px;
  color: #939393;
}

.form-input {
  width: 90%;
  font-size: 18px;
  font-family: "Noto Serif", serif;
  font-weight: 400;
  line-height: 1.5;
  padding: 6px;
  border: none;
  border-bottom: 1px solid #43434d;
  height: 45px;
}

.name {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.first-name {
  flex: 0 0 46%;
  max-width: 46%;
}

.last-name {
  flex: 0 0 46%;
  max-width: 46%;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #43434d;
}

.form-input:focus {
  outline: none;
  border-bottom: 1px solid #bae7e8;
}

.send-message {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px;
  color: white;
  background-color: #00a6fb;
  border-radius: 20px;
  border: none;
}

.send-message:hover {
  background-color: #0582ca;
}

.contact-info-title {
  font-size: 22px;
  font-family: "Noto Serif", serif;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.contactme {
  font-size: 18px;
  font-family: "Noto Serif", serif;
  color: black;
  text-decoration: none;
}

.address,
.phone,
.email,
.web {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Footer */
.footer {
  box-sizing: border-box;
  padding: 0 150px;
  background-color: #efefef;
  font-family: "Noto Serif", serif;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  box-sizing: border-box;
  padding: 50px 0px 10px 0px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info span {
  font-size: 20px;
  font-weight: 600;
}

.info p {
  margin: 0;
  font-size: 18px;
  color: #888a8e;
}

.info img {
  width: 120px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: #888a8e;
  font-size: 24px;
}

.nav-menu-title,
.connect {
  font-size: 24px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.social-media-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.social-media-icons a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #777;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icon {
  padding: 10px;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.social-media-icon:hover {
  opacity: 0.7;
}

.social-media-icon {
  background: #777;
  color: white;
}

.rights {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
}

.rights p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}
